<div class="flex flex-col gap-3 py-2"
     *ngIf="!selectedImage">
  <app-image-picker (fileChange)="uploadFile($event)"
                    [isFileUploading]="isImageUploading$ | async">
  </app-image-picker>

  <div class="flex flex-col sm:flex-row gap-1">
      <span>
    Nie chcesz dodawać nowego zdjęcia?
  </span>
    <span class="font-bold text-primary underline cursor-pointer"
          (click)="openGallery()">Kliknij tutaj i wybierz dostępne zdjęcie z galeri.
  </span>
  </div>
</div>

<div *ngIf="selectedImage"
     class="flex flex-col gap-2 font-bold">
  <div class="flex flex-col sm:flex-row justify-between">
    <span class="text-center sm:text-left">Podgląd wybranego zdjęcia</span>
    <button mat-button
            type="button"
            (click)="clearSelectedImage()">
      Usuń wybrane zdjęcie
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div id="image-wrapper" class="w-full">
  </div>
</div>

<div class="flex justify-end mt-2">
  <app-stepper-previous-button></app-stepper-previous-button>
  <div class="border-l-2 border-l-sky-700 opacity-20"></div>
</div>
