<div [formGroup]="formGroup"
     class="w-full">
  <mat-form-field appearance="outline"
                  class="w-full">
    <input matInput
           [ngxMatDatetimePicker]="picker"
           [min]="minDate"
           [placeholder]="label"
           [formControlName]="controlName">
    <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker
                             [showSpinners]="true"
                             [showSeconds]="false"
                             [stepHour]="1"
                             [stepMinute]="1"
                             [stepSecond]="1"
                             [touchUi]="false"
                             [enableMeridian]="false"
                             [disableMinute]="false"
                             [hideTime]="false">
    </ngx-mat-datetime-picker>

    <mat-error *ngIf="form.submitted && formGroup?.controls?.[controlName]?.invalid">
      {{showError()}}
    </mat-error>
  </mat-form-field>
</div>


