@import 'src/assets/styles/variables';

ngx-mat-datepicker-content {
  background: white !important;
  filter: drop-shadow(1px 1px 3px #444);
}

.mat-calendar-body-selected {
  background: $primary-color !important;
  color: $secondary-color !important;
}

.mat-calendar-body-disabled {
  .mat-calendar-body-cell-content {
    background: #efefef !important;
  }
}

.mat-calendar-body-today {
  border: 1px solid $primary-color !important;
}
