<div [formGroup]="formGroup"
     class="w-full">
  <mat-form-field appearance="outline"
                  class="w-full">
    <mat-label>{{label}}</mat-label>

    <input matInput
           (focus)="picker.open()"
           [formControlName]="controlName"
           [matDatepicker]="picker">

    <mat-datepicker-toggle matIconSuffix
                           [for]="picker">
    </mat-datepicker-toggle>

    <mat-datepicker #picker></mat-datepicker>

    <mat-error *ngIf="form.submitted && formGroup?.controls?.[controlName]?.invalid">
      {{showError()}}
    </mat-error>
  </mat-form-field>
</div>

