<div class="panel-auth-wrapper flex flex-col md:flex-row w-full md:justify-center items-center h-screen">
  <div class="flex flex-col items-center justify-center bg-light md:w-1/2 md:h-screen py-12 w-full">
    <img src="assets/images/bg-login-min.png" alt="login" class="w-1/2"/>
    <span class="text-2xl font-semibold mb-2">Witaj na beOnTime!</span>
    <span>W miejscu gdzie zarzadzanie wydarzeniami</span>
    <span>twojej firmy jest banalnie proste</span>
  </div>
  <div class="flex flex-col justify-center md:h-screen p-10 rounded-md md:w-1/2">
    <exam-testing-auth-form></exam-testing-auth-form>
  </div>
</div>


