.places-input {
  border: 1px solid rgb(59, 130, 246);

  &:focus {
    outline: none;
  }
}

.map-wrapper {
  width: 100% !important;
  //height: 300px !important;
  border-radius: 1rem;
}


::ng-deep {
  .mapboxgl-ctrl-geocoder {
    border-radius: 20px !important;
    width: 60vw;
  }

  .mapboxgl-ctrl-geocoder--input {
    outline: none !important;
  }

  #geocoder {
    width: 100% !important;
  }

  .suggestions-wrapper {
    z-index: 2;
  }

}



