<div class="w-full flex flex-col relative">
  <div id="map-wrapper"
       class="map-wrapper"
       [style.height.px]="height">
  </div>

  <div class="w-full absolute top-5 left-5">
    <div id="geocoder"></div>
  </div>

  <div class="w-full"
       (click)="removeMarker()"
       *ngIf="marker"
       [style.z-index]="5">
    <div class="flex items-center absolute top-5 right-2 rounded-full bg-white px-3 py-1.5
                text-xs cursor-pointer shadow-md" matRipple>
      <i class="material-icons text-md">delete_outlined</i>
      <span>Usuń znacznik</span>
    </div>
  </div>
</div>

