<div class="min-h-screen py-20 sm:py-10">
  <div class="px-10 text-2xl font-medium">Co nowego?</div>
  <div class="flex flex-col sm:flex-row justify-between items-center pl-10 gap-3">
    <div class="sm:w-1/2 flex flex-col gap-10">
      <span class="text-xl">Łatwy wybór lokalizacji</span>
      <span>
        Dzięki zastosowaniu usług geolokalizacyjnych Mapbox,
        w prosty sposób dodasz informację gdzie odbędzie się planowane przez ciebie wydarzenie.
        Dodatkowo istnieje możliwość ręcznej korekty adresu oraz położenia pinezki na mapie,
        dzięki czemu masz pełną kontrolę nad lokalizacją.
      </span>
    </div>

    <div class="sm:w-1/2">
      <img src="https://i.ibb.co/1bj2nHV/lokalizacja.png" alt="Tworzenie"/>
    </div>
  </div>

  <div class="flex flex-col sm:flex-row justify-between items-center pr-10 gap-3 py-10">
    <div class="sm:w-1/2">
      <img src="https://i.ibb.co/w4TvJV8/zainteresowani.png" alt="Zainteresowani"/>
    </div>

    <div class="sm:w-1/2 flex flex-col px-10 gap-10">
      <span class="text-xl">Lista osób zainteresowanych</span>
      <span>
        Monitoruj w prosty sposób listę osób które zadeklarowały wzięcie udziału w wydarzeniu.
        Wystarczy że ktoś zapisze się do wydarzenia i natychmiast pojawi się na liście osób zainteresowanych.
      </span>
    </div>
  </div>
</div>
