<div class="flex">
  <div class="w-72 pt-5 min-h-screen flex justify-center">
    <div class="flex flex-col gap-2">
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span class="text-center">Strona główna</span>
      </div>
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span>Przedmioty</span>
      </div>
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span>Działy</span>
      </div>
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span>Baza pytań</span>
      </div>
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span>Baza egzaminów</span>
      </div>
      <div matRipple
           class="flex gap-1 items-center border rounded-md w-56 px-3 py-2 text-gray-600 hover:text-black cursor-pointer">
        <mat-icon>home</mat-icon>
        <span>Uczniowie</span>
      </div>
    </div>
  </div>
  <div class="bg-cyan-100 min-h-screen flex-grow">
    <router-outlet></router-outlet>
  </div>
</div>
