@import 'src/assets/styles/variables';


.event-item {
  &:hover {
    background-color: lighten($primary-color, 50%);
    cursor: pointer;
  }
}

.event-wrapper {
  transition: .4s;

  &:hover {
    background-color: #E6F4F1;
    cursor: pointer;
  }
}

.default-image-wrapper {
  img {
    width: 100%;
    height: 175px;
    transform: scaleX(110%);
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem;
  }
}
