<div class="flex flex-col gap-2">
  <ng-container *ngIf="events?.length > 0">
    <div *ngFor="let event of events"
         [routerLink]="'/events/' + event?.id"
         matRipple
         class="flex gap-2 px-4 py-3 rounded-lg event-item text-gray-400 cursor-pointer transition ease-out">
      <div class="flex items-center gap-1">
        <mat-icon>schedule</mat-icon>
        <span>{{event?.timeFrom}}</span>
      </div>

      <div class="flex items-center gap-1">
        <mat-icon>star</mat-icon>
        <span>{{event?.name}}</span>
      </div>

      <div class="flex items-center gap-1">
        <mat-icon>place</mat-icon>
        <span>{{event?.place}}</span>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="events?.length === 0">
    <div class="flex gap-2 px-4 py-3 rounded-full">
      <span>Brak wydarzeń</span>
    </div>
  </ng-container>
</div>
