<button class="rounded-md border flex items-center px-3 py-2 gap-2 font-medium w-full sm:w-auto"
        [class.opacity-50]="showSpinner || disabled"
        [disabled]="showSpinner || disabled"
        [class.text-white]="btnStyle === 'primary'"
        [class.bg-primary]="btnStyle === 'primary'"
        (click)="afterClick.emit()"
        matRipple>
  <i class="material-icons text-md" *ngIf="!showSpinner && icon">{{icon}}</i>
  <mat-spinner class="my-0.5"
               *ngIf="showSpinner"
               [color]="btnStyle === 'primary' ? 'accent' : 'primary'"
               [diameter]="20"></mat-spinner>
  <span class="text-sm">{{label}}</span>
</button>
