<div class="w-full flex gap-5 pt-1 items-center justify-center"
     [formGroup]="formGroup">
  <div class="w-full md:w-3/4 2xl:w-1/2 form-sm">
    <app-text-input controlName="name"
                    [formGroup]="formGroup"
                    [form]="form"
                    label="Nazwa wydarzenia">
    </app-text-input>

    <app-category-selection [formGroup]="formGroup"
                            [form]="form"
                            [options]="categories"
                            [showSpinner]="areCategoriesLoading$ | async"
                            [showOptionIcons]="true"
                            displayNameKey="displayName"
                            controlName="category"
                            label="Kategoria wydarzenia"
    ></app-category-selection>

    <div class="flex flex-col sm:flex-row sm:gap-3 w-full">
      <app-datepicker controlName="dateFrom"
                      [formGroup]="formGroup"
                      [form]="form"
                      [minDate]="minDate"
                      class="w-full sm:w-6/12"
                      label="Data rozpoczęcia">
      </app-datepicker>

      <div *ngIf="!showDateTo">
        <button mat-button
                (click)="showDateTo = true"
                type="button">
          <div class="mb-5 sm:mb-0 sm:mt-2.5">
            Dodaj datę zakończenia
          </div>
        </button>
      </div>

      <app-datepicker *ngIf="showDateTo"
                      controlName="dateTo"
                      [formGroup]="formGroup"
                      [minDate]="minDate"
                      [form]="form"
                      class="w-full sm:w-6/12"
                      label="Data zakończenia">
      </app-datepicker>
    </div>

    <app-textarea controlName="description"
                  [formGroup]="formGroup"
                  [form]="form"
                  [rows]="9"
                  label="Opis wydarzenia">
    </app-textarea>
  </div>
</div>

<div class="flex justify-end w-full">
  <div class="border-l-2 border-l-sky-700 opacity-20"></div>
  <app-stepper-next-button></app-stepper-next-button>
</div>
