<div class="w-full flex gap-5 pt-1 items-center justify-center"
     [formGroup]="formGroup">
  <div class="w-full md:w-3/4 2xl:w-1/2 form-sm">
    <app-text-input controlName="name"
                    [formGroup]="formGroup"
                    [form]="form"
                    label="Nazwa wydarzenia">
    </app-text-input>

    <div class="flex flex-col sm:flex-row sm:gap-3 w-full">
      <app-datepicker controlName="dateFrom"
                      [formGroup]="formGroup"
                      [form]="form"
                      class="w-full sm:w-8/12"
                      label="Data rozpoczęcia">
      </app-datepicker>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-3 w-full">
      <app-datepicker controlName="dateTo"
                      [formGroup]="formGroup"
                      [form]="form"
                      class="w-full sm:w-8/12"
                      label="Data zakończenia">
      </app-datepicker>
    </div>

    <app-textarea controlName="description"
                  [formGroup]="formGroup"
                  [form]="form"
                  [rows]="9"
                  label="Opis wydarzenia">
    </app-textarea>
  </div>
</div>

<div class="flex justify-end w-full">
  <div class="border-l-2 border-l-sky-700 opacity-20"></div>
  <app-stepper-next-button></app-stepper-next-button>
</div>
