<div class="flex gap-2 w-full"
     [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label class="flex items-center gap-2">
      <mat-icon>schedule</mat-icon>
      HH
    </mat-label>

    <input type="text"
           aria-label="Godzina"
           name="hour"
           class="text-center"
           matInput
           [formControlName]="hourControlName"
           [matAutocomplete]="hourAuto">
    <mat-autocomplete autoActiveFirstOption #hourAuto="matAutocomplete">
      <mat-option *ngFor="let option of hourFilteredOptions | async"
                  class="text-center"
                  [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="mt-3">:</div>

  <mat-form-field appearance="outline" class="flex-grow">
    <mat-label class="flex items-center gap-2">
      <mat-icon>schedule</mat-icon>
      MM
    </mat-label>

    <input type="text"
           aria-label="Minuta"
           name="minutes"
           class="text-center"
           matInput
           [formControlName]="minutesControlName"
           [matAutocomplete]="minuteAuto">
    <mat-autocomplete autoActiveFirstOption #minuteAuto="matAutocomplete">
      <mat-option *ngFor="let option of minuteFilteredOptions | async"
                  class="text-center"
                  [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
