<div class="flex py-10 px-10 min-h-screen w-full">
  <div class="flex flex-col gap-4 w-full">
    <div class="flex justify-between w-full">
      <div>
        <h1>Wszystkie wydarzenia</h1>
      </div>

      <div class="flex gap-3 items-center"
           [formGroup]="additionalOptionsForm">
        <mat-slide-toggle formControlName="showPersonalizedEvents">Wyświetlaj tylko wydarzenia w których biorę udział</mat-slide-toggle>

        <app-icon-button [matMenuTriggerFor]="views"
                         icon="grid_on"
                         label="Widok">
        </app-icon-button>

        <app-icon-button icon="add"
                         btnStyle="primary"
                         label="Nowe wydarzenie"
                         routerLink="/events/create">
        </app-icon-button>
      </div>
    </div>

    <div class="flex flex-col gap-4 w-full">
      <div *ngIf="selectedView === 'list'">
        <app-event-list [additionalOptionsForm]="additionalOptionsForm"></app-event-list>
      </div>

      <div *ngIf="selectedView === 'schedule'">
        <app-schedule [additionalOptionsForm]="additionalOptionsForm"></app-schedule>
      </div>
    </div>
  </div>
</div>


<mat-menu #views="matMenu">
  <button mat-menu-item
          (click)="selectedView = 'schedule'">
    <mat-icon>calendar_today</mat-icon>
    <span>Kalendarz</span>
  </button>

  <button mat-menu-item
          (click)="selectedView = 'list'">
    <mat-icon>list</mat-icon>
    <span>Lista</span>
  </button>
</mat-menu>
