<mat-stepper orientation="horizontal" [linear]="false" #stepper>
  <mat-step [stepControl]="formGroup.controls.eventDetails">
    <ng-template matStepLabel>Podstawowe informacje</ng-template>
    <ng-template matStepContent>
      Podstawowe informacje dotyczące wydarzenia
      <app-event-details-form [formGroup]="formGroup.controls.eventDetails"
                              [form]="form">
      </app-event-details-form>
    </ng-template>

  </mat-step>

  <mat-step [stepControl]="formGroup.controls.eventLocation">
    <ng-template matStepLabel>Miejsce wydarzenia</ng-template>

    <ng-template matStepContent>
      Miejsce w którym odbędzie się wydarzenie
      <app-event-place-form [formGroup]="formGroup.controls.eventLocation"
                            [form]="form">
      </app-event-place-form>
    </ng-template>
  </mat-step>

  <mat-step [stepControl]="formGroup.controls.eventImage">
    <ng-template matStepLabel>Zdjęcie wydarzenia</ng-template>

    <ng-template matStepContent>
      Zdjęcie reprezentujące wydarzenie
      <app-event-image-form [formGroup]="formGroup.controls.eventImage"
                            [form]="form">
      </app-event-image-form>
    </ng-template>
  </mat-step>
</mat-stepper>
