<mat-sidenav-container>
  <mat-sidenav *ngIf="!isLoginPage"
               #drawer
               [mode]="sidenavMode"
               [opened]="opened"
               [fixedInViewport]="true"
               [fixedTopGap]="0"
               [fixedBottomGap]="0">
    <div class="flex flex-col gap-2 py-10 px-10 h-screen">
      <img src="assets/images/beActive.png" alt="logo" width="200"/>
      <app-menu class="mt-12 h-full" (changeRoute)="opened = sidenavMode === 'side'"></app-menu>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <div class="flex-grow bg-main-section relative">
        <button *ngIf="isMobileView && !isLoginPage"
                mat-mini-fab
                color="primary"
                class="menu-btn"
                (click)="opened = !opened">
          <i class="material-icons">menu</i>
        </button>

        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-notification></app-notification>
