<div class="min-h-screen">
  <div class="flex gap-3 mb-5">
    <div class="flex items-center">
      <button mat-icon-button
              (click)="selectedYear = selectedYear - 1; changeYear()"
              [disabled]="currentYear === selectedYear">
        <i class="material-icons">chevron_left</i>
      </button>

      {{selectedYear}}

      <button mat-icon-button
              (click)="selectedYear = selectedYear + 1; changeYear()">
        <i class="material-icons">chevron_right</i>
      </button>
    </div>

    <app-schedule-months [selectedMonth]="selectedMonth"
                         (nextMonth)="nextMonth()"
                         (previousMonth)="previousMonth()">
    </app-schedule-months>

    <div class="flex gap-1 items-center"
         *ngIf="areEventsLoading$ | async">
      <mat-spinner color="primary" diameter="20"></mat-spinner>
      <span>Trwa pobieranie wydarzeń</span>
    </div>
  </div>

  <div class="flex flex-col gap-3 overflow-x-auto"
       [style.max-width.vw]="100">

    <app-schedule-days *ngIf="selectedYear && (selectedMonth || selectedMonth === 0)"
                       [selectedMonth]="selectedMonth"
                       [selectedYear]="selectedYear"
                       [events]="events">
    </app-schedule-days>
  </div>
</div>

