<div class="w-full">
  <span class="font-bold menu-section-label">{{label}}</span>
  <div class="flex flex-wrap gap-3 items-center"
       [style.min-height.px]="30">
    <img src="assets/images/user-icon.png"
         alt="participant"
         *ngFor="let participant of event?.participantsInfo?.[participationType]?.slice(0, 5)"
         [matTooltip]="participant.participantName"
         [style.width.px]="30"
         [style.height.px]="30"/>
    <div *ngIf="event?.participantsInfo?.[participationType]?.length > 5"
         class="bg-gray-300 rounded-full flex items-center justify-center"
         [style.width.px]="30"
         [style.height.px]="30">
      + {{event?.participantsInfo?.[participationType]?.slice(5).length}}
    </div>
  </div>
</div>
