@use '@angular/material' as mat;
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
@import 'src/assets/styles/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.all-component-densities(-3);

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-notched-outline__notch {
  border-right: 0 !important;
}

.map-container {
  border-radius: 1rem;
}

.bg-main-section {
  background-color: #f6f8fa;
}

.gmnoprint {
  display: none;
}

.stepper-navigate-btn {
  transition: .4s;
  opacity: .5;

  &:hover {
    opacity: 1;
    color: $primary-color !important;
  }
}

.bg-primary {
  background-color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}
