@import 'src/assets/styles/variables';

.day-element {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

  i {
    color: $primary-color;
  }

  &:hover:not(.over-month) {
    background-color: lighten($primary-color, 40);
    cursor: pointer;
  }
}

.over-month {
  background-color: #f3f3f3;
  color: #afafaf;
}

.drawer-container-bg {
  background-color: transparent;
}

app-schedule-days {
  mat-drawer.mat-drawer {
    border-left-width: 0 !important;
  }

  .mat-drawer-inner-container {
    border-radius: .5rem;
    background-color: white !important;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
  }
}

