<div class="flex flex-col py-20 px-10 min-h-screen">
  <h1>Tworzenie nowego wydarzenia</h1>

  <form formGroupName="eventForm"
        class="w-12/12 xl:w-6/12">
    <app-text-input formControlName="name"
                    [formGroup]="eventForm"
                    label="Nazwa wydarzenia">
    </app-text-input>

    <app-textarea formControlName="description"
                  [formGroup]="eventForm"
                  label="Opis wydarzenia">
    </app-textarea>

    <div class="flex flex-col sm:flex-row sm:gap-3 w-full">
      <app-datepicker formControlName="dateFrom"
                      [formGroup]="eventForm"
                      class="w-full sm:w-8/12"
                      label="Data rozpoczęcia">
      </app-datepicker>
      <app-timepicker class="w-full sm:w-4/12"></app-timepicker>
    </div>

    <div class="flex flex-col sm:flex-row sm:gap-3 w-full">
      <app-datepicker formControlName="dateTo"
                      [formGroup]="eventForm"
                      class="w-full sm:w-8/12"
                      label="Data zakończenia">
      </app-datepicker>
      <app-timepicker class="w-full sm:w-4/12"></app-timepicker>
    </div>
  </form>
</div>
