<form #form="ngForm"
      [formGroup]="eventForm"
      (submit)="submit()"
      class="flex flex-col py-10 px-10 min-h-screen">
  <div class="flex justify-between">
    <h1>Tworzenie nowego wydarzenia</h1>

    <app-mini-fab-spinner-button [isSpinnerVisible]="isEventCreating$ | async"
                                 [form]="form"
                                 label="Zapisz">
    </app-mini-fab-spinner-button>
  </div>

  <app-event-form [formGroup]="eventForm"
                  [form]="form">
  </app-event-form>
</form>
