<form #form="ngForm"
      [formGroup]="eventForm"
      (submit)="submit()"
      class="flex flex-col py-10 px-5 sm:px-10 min-h-screen">
  <div class="flex flex-col sm:flex-row justify-between">
    <h1>Tworzenie wydarzenia</h1>

    <app-icon-button
      [showSpinner]="isEventCreating$ | async"
      btnStyle="primary"
      [disabled]="!form.form.valid"
      [form]="form"
      icon="check"
      label="Utwórz wydarzenie">
    </app-icon-button>
  </div>

  <app-event-form [formGroup]="eventForm"
                  [form]="form">
  </app-event-form>
</form>
